/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

 .bootstrap-tagsinput {
    border: solid 1px #e9ecee;
  border-radius: 0;
  color: #8e9091;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 48px;
  padding: 8px 20px;
  font-size: 16px;
  }
  .badge-tag{
    background-color: #03b352;
    color: white;

  }
  .badge-tag:hover{
    background-color: #03b352;
    color: black;

    
  }