{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container mt-5'>
        <div class="row justify-content-center">
            <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group pt-3">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="pt-3"> 
                <div class="border-top">
                    <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
