{% extends "base.html" %}
{% block title %}Gallery{% endblock %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Search image
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class='mt-3'>
                            <form method="GET" class="row g-3">
                                <div class="col-8">
                                    <input type='text' class="form-control" name='tags' placeholder="Search Photo" value="{{search_input}}">
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary mb-3">Search</button>
                                </div>
                            </form>
                            </div>
                        </li>

                        {% if user.is_authenticated %}
                        <a href="{% url 'add' %}" class="btn btn-block btn-dark btn-sm m-1">Add Photo</a>
                        {% endif %}
                    </ul>
                  </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {%if view.kwargs.username == user.username %}
                    <h1 class='mb-3'>My photos {{ utag }} ({{page_obj.paginator.count}})</h1>
                    {%else%}
                    <h1 class="mb-3">Photos by {{ view.kwargs.username }} {{ utag }} ({{ page_obj.paginator.count }})</h1>
                    {%endif%}
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img src="{{photo.image.url}}" class="image-thumbnail" alt="...">
                            <div class="card-body">
                                <div class='mb-2' style='display:flex'>
                                    {%for tag in photo.tags.all%}
                                    <a href="{% url 'user-gallery' user.username %}?tag={{tag.slug}}" style='margin: 2px;text-decoration: none;' class="badge badge-tag badge-info">{{tag}}</a>
                                    {%endfor%}
                                    </div>
                                    <a href="{% url 'photo' photo.id %}" class="btn btn-dark">View</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h3>No photos...</h3>
                    {% endfor %}
                </div>
                {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}
            </div>
            
        </div>
        
    </div>
</div>


{% endblock %}